.invest{ 
    width: 100%;
    font-family: -apple-system;
    margin-left: 50%;
}
/* .search{
    margin-left: 65%;
    size: 200px;
} */
.search_div{
    margin-left: 50%;
    flex-direction:row;
    align-content: flex-end;
}