.navbar{
    background-color: #79f;
    font-family: -apple-system;
    font-size: 2rem;
    letter-spacing: -0.03em;
    z-index: 2;
}

.btn{
    background-color: #475c98;
    color: white;
    font-family: -apple-system;
}